*{margin:0;padding:0}
li{list-style:none outside none;}
.contioner{width:980px;margin-top:5px;margin:0 auto}
a{cursor:pointer;text-decoration:none}


#title_div{height:50px;font:400 12px/52px 'microsoft yahei';color:#666666}
#title_div a{height:50px;font:400 12px/52px 'microsoft yahei';color:#666666}
#title_div .current{color:#999999;font-size:12px}

#top_div_1{border:1px solid #DEDEDE;border-bottom:none;overflow:hidden}
#top_div_1 .left{width:347px;height:330px;float:left}
#top_div_1 .right{width:630px;float:right;overflow:hidden}
#top_div_1 .title_top_div_1{width:630px;font:700 25px/40px 'microsoft yahei';margin-top:30px;color:#566676}
#top_div_1 .title_sub{width:630px;font:400 20px/30px 'microsoft yahei';color:#808E9C}

#top_div_1 .center{width:630px;overflow:hidden}
#top_div_1 .center_one{width:209px;float:left;margin-top:20px}
#top_div_1 .center_image{height:45px;margin:0 auto;}
#top_div_1 .center_image_word{margin:0 auto;font:400 17px/30px 'microsoft yahei';color:#808E9C;text-align:center;margin-top:10px}
#top_div_1 .border_right{border-right:1px dotted #808E9C}

#top_div_1 .image_1{background:url(/app_images/v40/top_right_1.png) no-repeat 73px 5px;}
#top_div_1 .image_2{background:url(/app_images/v40/top_right_2.png) no-repeat 85px 5px;}
#top_div_1 .image_3{background:url(/app_images/v40/top_right_3.png) no-repeat 81px 5px;}

#top_div_1 .bottom_list{width:630px;overflow:hidden;margin-top:20px}
#top_div_1 .bottom_list table{width:630px}
#top_div_1 .bottom_list table tr td{background:url(/app_images/v40/li_point.png) no-repeat 0 3px;padding-left:18px;color:#808E9C;height:25px}
#top_div_1 .first_title{font:700 16px/20px 'microsoft yahei';}
#top_div_1 .content{font:400 13px/20px 'microsoft yahei';}



#top_div_2{overflow:hidden;border:1px solid #C41615;background:#EEEEEE;padding:19px 80px}
#top_div_2 .left{width:517px;float:left;}
#top_div_2 .right{width:300px;float:right;}
#top_div_2 .title_top_div_2{font:700 20px/30px 'microsoft yahei';color:#C41615;}
#top_div_2 .title_sub{font:700 15px/30px 'microsoft yahei';color:#808E9C}

#top_div_2 .btn_a{float:right;color:#ffffff;padding:1px 55px;font:600 20px/40px 'microsoft yahei';background:#C41615;margin-top:10px}

/* clearfix */  
.clearfix:after{ visibility: hidden;display: block;font-size: 0;content:" ";clear: both;height: 0;}
.clearfix{ *zoom:1;}



#div_3{overflow:hidden;border:1px solid #DEDEDE;border-top:none}
#div_fix{background:#F9F9F9}
#div_fix .top_ul{margin-top:20px}
#div_fix .top_ul ul{border-left:1px solid #DEDEDE;}
#div_fix .top_ul ul li{float:left;width:158px;padding-left:85px;padding-top:2px;font:500 18px/42px 'microsoft yahei';}
#div_fix .no_current{color:#808E9C; border:1px solid #DEDEDE;background:#F9F9F9;border-left:none;}
#div_fix .current{color:#C41615; border:1px solid #DEDEDE; border-top:2px solid  #C41615;border-bottom:none;background:#FFFFFF;border-left:none;}

#div_3 .div_ul{border:1px solid #DEDEDE;border-top:none}
#div_3 .div_one{padding:20px 30px;}
#div_3 .title_div_one{font:700 20px/40px 'microsoft yahei';color:#556575}
#div_3 .title_sub{font:500 16px/40px 'microsoft yahei';color:#556575}
#div_3 .div_one ul{padding-left:20px}
#div_3 .div_one ul li{font:500 16px/30px 'microsoft yahei';color:#808E9C;list-style-type:disc}

#div_3 .div_one .q_a_ul{padding-left:20px;margin-bottom:20px}
#div_3 .div_one .q_a_ul li{font:500 16px/35px 'microsoft yahei';color:#808E9C;list-style-type:none;padding-left:20px}
#div_3 .div_one .a_img{background:url(/app_images/v40/A.png) no-repeat 0 12px;}
#div_3 .div_one .q_img{background:url(/app_images/v40/Q.png) no-repeat 0 12px;}
#div_3 .bottom_more a{font:300 14px/25px 'microsoft yahei';color:#A5AFB8;margin-left:20px}
#div_3 .show{display:block;}
#div_3 .hidden{display:none;}





#div_fix_copy{background:#F9F9F9;position:fixed;top:0;width:980px;z-index:100;}
#div_fix_copy .top_ul_copy{margin-top:20px}
#div_fix_copy .top_ul_copy ul{border-left:1px solid #DEDEDE;}
#div_fix_copy .top_ul_copy ul li{float:left;width:158px;padding-left:85px;padding-top:2px;font:500 18px/42px 'microsoft yahei';}
#div_fix_copy .no_current_copy{color:#808E9C; border:1px solid #DEDEDE;background:#F9F9F9;border-left:none;}
#div_fix_copy .current_copy{color:#FF6600; border:1px solid #DEDEDE; border-top:2px solid  #FF6600;border-bottom:none;background:#FFFFFF;border-left:none;}



#top_div_2_copy{overflow:hidden;border:1px solid #C41615;background:#EEEEEE;padding:19px 80px}
#top_div_2_copy .left_copy{width:517px;float:left;}
#top_div_2_copy .right_copy{width:300px;float:right;}
#top_div_2_copy .title_copy{font:700 20px/30px 'microsoft yahei';color:#C41615}
#top_div_2_copy .title_sub_copy{font:700 15px/30px 'microsoft yahei';color:#808E9C}

#top_div_2_copy .btn_a_copy{float:right;color:#ffffff;padding:1px 55px;font:600 20px/40px 'microsoft yahei';background:#C41615;margin-top:10px}

.span_x{color:#ff6500}

#lijiyuyue_div{border:1px solid #DFDFDF;box-shadow:0 3px 3px #CCC; background:#FFF; position:absolute; z-index:9999;top:0;left:50%;margin-left:-201px;width:500px;display:none}
#lijiyuyue_div .title_lijiyuyue_div{font:600 14px/20px '宋体';color:#75828F;padding:10px 20px; border-bottom:1px solid #DFDFDF;overflow:hidden}
#close{float:right; background: url(/app_images/v40/close.png) no-repeat scroll 0 0 transparent;width:27px;height:24px;  position: absolute;z-index: 99; left: 468px;top:8px;}
#lijiyuyue_div .content{font:300 12px/20px '宋体';color:#75706D;padding:20px 20px}

#lijiyuyue_div .content table{margin:0 auto}
#lijiyuyue_div table tr td .input{padding:10px 0;width:220px;border:1px solid #e5e5e5;font-size:14px;margin-left:10px}
#lijiyuyue_div table tr th{font:300 14px/30px '宋体'; height:60px;color:#666666}
#lijiyuyue_div table  tr th{text-align:right}

#yuyue_yanzhengma{padding:10px 0;width:100px;border:1px solid #e5e5e5;font-size:14px;margin-left:10px}

#lijiyuyue_div .btn_a_copy{float:left;color:#ffffff;padding:10px 40px;font:400 14px/20px 'microsoft yahei';background:#FF6600;margin-top:10px;margin-left:10px}



.transparent_class{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
	opacity:0.5
}




.contioner_bottom{width:100%;margin-top:20px}
a{cursor:pointer;text-decoration:none}
#bottom_tem{width:978px;margin:0 auto;border:1px solid #DEDEDE;background:#F9F9F9;overflow:hidden}
#bottom_tem .bottom_one{width:325px;float:left}
#bottom_tem .title_bottom{font: 24px/28px 'microsoft yahei';color:#7E8A96;padding-left:60px;margin-top:20px}
#bottom_tem .list{font:400 15px/40px 'microsoft yahei';padding-left:30px;color:#7E8A96;margin-top:15px;}
#bottom_tem .list ul li{height:30px;font:400 15px/30px 'microsoft yahei';}
#bottom_tem .more{height:40px;padding-left:30px;}
#bottom_tem .more a{font:400 12px/30px 'microsoft yahei';color:#A5AFB8}

#bottom_tem .title_image_1{background:url(/app_images/v40/bottom_1.png) no-repeat 30px 3px;}
#bottom_tem .title_image_2{background:url(/app_images/v40/bottom_2.png) no-repeat 30px 3px;}
#bottom_tem .title_image_3{background:url(/app_images/v40/bottom_3.png) no-repeat 30px 3px;}
#bottom_tem .right_border{border-right:1px solid #DEDEDE}
#bottom_tem .none_border{border:none}


.request_code{padding:10px 20px;font-size: 12px;background: #FF6600;color:#fff;margin-left:10px;cursor: pointer;}
.changeVerifyImg{font-size: 12px;margin-left: 10px;}